## This file ensures that the build context keeps clean.
## Therefore, add files and directories to this file which are not required for the docker image creation.

# all .in files
*.in

# exclude the build directory which is used by cmake
build/*


# ignore virtual environments
venv

build
config


# Ignore unnecessary files inside allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db

# remove git repository information
.git
.gitignore

# finally, exclude this file
.dockerignore






